@import '../../styles/variables.scss';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-grow: 1;

  .logo{
  	img{
  		width: 150px;
  	}
  }
}
